<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/style3.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
    <title>Edit Product</title>
</head>
<body>
<div class="container">
    <div th:insert="~{sidebar::sidebar}"></div>
</div>
<div class="form-container">
    <h2>Edit Product</h2>
    <form method="post" th:object="${update}"  enctype="multipart/form-data">
        <input type="hidden" id="product-id" name="id" th:field="*{id}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" placeholder="Enter the product name..">

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" th:field="*{price}" placeholder="Enter the price..">

        <label for="originalPrice">Original Price:</label>
        <input type="text" id="originalPrice" name="originalPrice" th:field="*{originalPrice}"  placeholder="Enter the original price..">

        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating" th:field="*{rating}"  placeholder="Enter the rating..">

        <label for="connectivityTechnology">Connectivity Technology:</label>
        <input type="text" id="connectivityTechnology" name="connectivityTechnology" th:field="*{connectivityTechnology}" placeholder="Enter the connectivity technology..">

        <label for="productType">Product Type:</label>
        <input type="text" id="productType" name="productType" th:field="*{productType}" placeholder="Enter the product type..">

        <label for="speakerType">Speaker Type:</label>
        <input type="text" id="speakerType" name="speakerType" th:field="*{speakerType}" placeholder="Enter the speaker type..">

        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" th:field="*{brand}" placeholder="Enter the brand..">

        <label for="modelName">Model Name:</label>
        <input type="text" id="modelName" name="modelName" th:field="*{modelName}" placeholder="Enter the model name..">

        <label for="specialFeature">Special Feature:</label>
        <input type="text" id="specialFeature" name="specialFeature" th:field="*{specialFeature}" placeholder="Enter the special feature..">

        <label for="category">Category:</label>
        <select id="category" name="category.id" >
            <option>Select</option>
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.cat_name}">Category</option>
        </select>
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}" placeholder="Enter the product description.."></textarea>
        <label for="imageUrl">Image URL:</label>
        <input type="file" id="imageUrl" name="file" placeholder="Enter the image URL..">
        <div>
            <img id="image-preview" style="display:none; max-width: 200px; max-height: 200px;" alt="Image Preview"/>
        </div>

        <button type="submit">Update Product</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous"></script>
<script src="/js/script2.js"></script>
<script>
    document.getElementById('imageUrl').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('image-preview');

        if (file) {
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    });
</script>
</body>
</html>