<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style4.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Logo Section -->
            <div class="companylogo">
                <img src="Image/logo.png" alt="Company Logo">
            </div>

            <!-- Error and Logout Messages -->
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Email or Password</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">You have been logged out.</div>
            </div>

            <!-- Login Card -->
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Login Form</h2>
                </div>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/login}" class="form-horizontal">
                        <div class="form-group mb-3">
                            <label class="control-label">Email</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Enter email address" />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" />
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Login</button><br>
                            <span>Not registered? <a th:href="@{/register}">Register</a></span>
                            <span>Forgot Password? <a th:href="@{/forgetPassword}">Reset</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>