<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/style3.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
<body>
<div class="sidebar" th:fragment="sidebar">
    <div class="menu-btn">
        <i class="ph-bold ph-caret-left"></i>
    </div>
    <div class="head">
        <div class="user-img">
            <img src="/Image/logo.png" alt="admin" />
        </div>
        <div class="user-details">
            <p class="title">Software Developer</p>
            <p class="name"><span th:text="${user.name}"></span></p>
        </div>
    </div>
    <div class="nav">
        <div class="menu">
            <p class="title">Main</p>
            <ul>
                <li>
                    <a th:href="@{/admin}">
                        <i class="icon ph-bold ph-house-simple"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <p class="title">Category</p>
            <ul>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-chart-bar"></i>
                        <span class="text">Category</span>
                        <i class="arrow ph-bold ph-caret-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/category}">
                                <span class="text">Add Category</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/viewcategory}">
                                <span class="text">View Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="menu">
            <p class="title">Product</p>
            <ul>
                <li>
                    <a href="#">
                        <i class="fab fa-product-hunt"></i>
                        <span class="text">Product</span>
                        <i class="arrow ph-bold ph-caret-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/addProduct}">
                                <span class="text">Add Product</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/viewProduct}">
                                <span class="text">View Product</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="menu">
            <p class="title">View Users</p>
            <ul>
                <li>
                    <a th:href="@{/users}">
                        <i class="fa-solid fa-user"></i>
                        <span class="text">View Users</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <p class="title">Profile</p>
            <ul>
                <li>
                    <a th:href="@{/profile}">
                        <i class="fa-solid fa-user"></i>
                        <span class="text">Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu">
        <p class="title">Help</p>
        <ul>
            <li>
                <a href="#">
                    <i class="icon ph-bold ph-info"></i>
                    <span class="text">Help</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <i class="icon ph-bold ph-sign-out"></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>