<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/style3.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
    <title>View Product</title>
</head>
<body>
<div class="container">
    <div th:insert="~{sidebar::sidebar}"></div>
</div>
    <div class="product-container">
        <h1>Products</h1>
        <div class="message success" th:if="${success}" th:text="${success}"></div>
        <div class="message error" th:if="${error}" th:text="${error}"></div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Original Price</th>
                <th>Rating</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td>
                    <img th:src="@{${product.imageUrl}}" alt="Product Image" style="width: 100px; height: auto;">
                </td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.originalPrice}"></td>
                <td th:text="${product.rating}"></td>
                <td th:text="${product.category.cat_name}"></td>
                <td>
                    <a th:href="@{/editProduct/{id}(id=${product.id})}" class="btn btn-edit">Edit</a>
                    <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-delete">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous"></script>
<script src="/js/script2.js"></script>
</body>
</html>